<html>
  <head>
    <script src="https://www.google.com/recaptcha/api.js"></script>
     <script>
       function onSubmit(token) {
         console.log("GOT TOKEN", token);
         document.getElementById("demo-form").submit();
       }
     </script>
     <script src="https://unpkg.com/htmx.org@1.8.0" async></script>
     <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Hello</h1>
    <!--    <form action="/comments" id="demo-form" method="post"> -->
    <!--    <form id="comment-form" hx-get="/comments-form" hx-swap="outerHTML" hx-trigger="load"></form> -->
      <form id="comment-form" hx-get="/comments-form" hx-trigger="load"></form>
<!--      <button
          type="submit"
          class="g-recaptcha" 
          data-sitekey='6LcMAZQhAAAAAJKuFrianjr-xP8XIOysos4qeR4S'
          data-callback='onSubmit' 
          data-action='submit'>Submit</button> -->

    <div id="comments-section">
      <h2>Comments</h2>
      <div id="comments" hx-get="/comments" hx-swap"innerHTML" hx-trigger="load">
      </div>
    </div>

  </body>
</html>
